<nav class="navbar navbar-toggleable-md navbar-light fixed-top card-2">
  <div class="container">
    <a class="navbar-brand" href="#"><img class="nav-logo" src="../../../assets/img/aptitude-circle-logo.png"></a>
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item active nav-item-custom">
          <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item nav-item-custom">
        <a class="nav-link" routerLink="/services">Services</a>
      </li>
      <li class="nav-item nav-item-custom">
        <a class="nav-link" routerLink="/patient">Patient</a>
      </li>
      <li class="nav-item nav-item-custom">
        <a class="nav-link" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item nav-item-custom">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <!-- <li class="nav-item nav-item-custom">
        <a class="nav-link" href="https://medium.com/@beeman"><i class="fa fa-medium" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item nav-item-custom">
        <a class="nav-link" href="https://twitter.com/@beeman_nl"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item nav-item-custom">
        <a class="nav-link" href="https://github.com/beeman"><i class="fa fa-github" aria-hidden="true"></i></a>
      </li> -->
      <li>
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control fa" placeholder="&#xF002;" name="srch-term" id="srch-term">
        </div>
        </form>
      </li>
    </ul>
  </div>
</nav>