nav {
	background-color: #FFFFFF;
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.nav-item-custom > .nav-link{
	color: #191970;
	font-family: Roboto Regular;
}

.nav-logo {
	width: 40px;
}
