<nav class="navbar navbar-toggleable-md navbar-light fixed-top card-2 bg-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
	<div class="container">
	<a class="navbar-brand" href="#"><img class="nav-logo" src="../../../assets/img/aptitude-circle-logo.png"></a>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	      	<li class="nav-item active nav-item-custom">
				<a class="nav-link" routerLink="/">HOME</a>
			</li>
			<li class="nav-item nav-item-custom">
				<a class="nav-link" routerLink="/videos">VIDEOS</a>
	      	</li>
	      	<li class="nav-item nav-item-custom">
	        	<a class="nav-link" routerLink="/services">SERVICES</a>
	      	</li>
	      	<li class="nav-item nav-item-custom">
	        	<a class="nav-link" routerLink="/patient">PATIENT</a>
	      	</li>
	      	<li class="nav-item nav-item-custom">
	        	<a class="nav-link" routerLink="/blog">BLOG</a>
	      	</li>
	      	<li class="nav-item nav-item-custom">
	        	<a class="nav-link" routerLink="/about">ABOUT</a>
	      	</li>
	    </ul>
	    
	    <form class="navbar-form" role="search">
	      	<div class="input-group">
	          	<input type="text" class="form-control fa" placeholder="&#xF002;" name="srch-term" id="srch-term">
	      	</div>
	    </form>
  </div>
  </div>
</nav>