<div>
	<img src="../../assets/img/aptitude-circle-logo.png" alt="Aptitude Physical Therapy, LLC Circular Logo" width="50" height="50">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<h4>Connect</h4>
				<!-- Address + Link to Google Maps -->
				<div><a target="_blank" href="https://www.google.com/maps/place/Aptitude+Physical+Therapy,+LLC/@37.1473339,-93.2760359,17z/data=!3m1!4b1!4m5!3m4!1s0x87cf64bf2aa75381:0xb009a3145b678dc2!8m2!3d37.1473296!4d-93.2738472/"><i class="fa fa-map-marker" aria-hidden="true"></i>1342 E Primrose St, Suite A, Springfield, MO 65804</a></div>
				<!-- Clickable Telephone Number -->
				<div><a href="tel:417-890-7787"><<i class="fa fa-mobile" aria-hidden="true"></i>(417) 890-7787</a></div>
				<!-- Clickable Email Address-->
				<div><a href="mailto:%20info@aptitudept.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> info@aptitudept.com</a></div>
				<!-- Fax Number-->
				<div><i class="fa fa-fax" aria-hidden="true"></i>(417) 890-9397 </div>
				<!-- Facebook -->
				<div><a target="_blank" href="https://www.facebook.com/AptitudePhysicalTherapy/"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></div>
				<!-- Google Plus-->
				<div><a target="_blank" href="https://plus.google.com/104416384958905808932"><i class="fa fa-google-plus" aria-hidden="true"></i>Google Plus</a></div>
				<!-- LinkedIn-->
				<div><i class="fa fa-linkedin" aria-hidden="true"></i></div>
				<!-- YouTube Channel-->
				<div><i class="fa fa-youtube" aria-hidden="true"></i></div>
				<!-- Blog -->
				<div><i class="fa fa-rss" aria-hidden="true"></i></div>
			</div>
		</div>
		<div class="row">
			<p>Copyright &copy; Aptitude Physical Therapy, LLC All Rights Reserved</p>
		</div>
	</div>
</div>