<div class="footer">
	<div class="container-fluid">
		<div class="row content">
			<div class="row col-12 footer-logo">
				<img class=" mx-auto" src="../../assets/img/aptitude-circle-logo.png" alt="Aptitude Physical Therapy, LLC Circular Logo" width="50" height="50">
			</div>

			<div class="col-sm-3"></div>

			<div class="col-sm-2 text-center">
				<h4>Navigate</h4>
					<ul class="nav navbar-nav">
						<li class="nav-item nav-item-custom">
							<a class="nav-link" routerLink="/">Our Staff</a>
						</li>
						<li class="nav-item nav-item-custom">
							<a class="nav-link" routerLink="/services">Services</a> 
						</li>
						<li class="nav-item nav-item-custom">
							<a class="nav-link" routerLink="/patient">Patient</a>
						</li>
						<li class="nav-item nav-item-custom">
							<a class="nav-link" routerLink="/careers">Careers</a>
						</li>
						<li class="nav-item nav-item-custom">
							<a class="nav-link" routerLink="/student">Student</a>
						</li>
						<li class="nav-item nav-item-custom">
							<a class="nav-link" routerLink="/sitemap">Site Map</a>
						</li>
					</ul>
			</div>

			<div class="col-sm-2 text-center">
				<h4>Contact</h4>

				<!-- Address + Link to Google Maps -->
				<div class="my-3">
					<a target="_blank" href="https://www.google.com/maps/place/Aptitude+Physical+Therapy,+LLC/@37.1473339,-93.2760359,17z/data=!3m1!4b1!4m5!3m4!1s0x87cf64bf2aa75381:0xb009a3145b678dc2!8m2!3d37.1473296!4d-93.2738472/"><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>1342 E Primrose St, Suite A, Springfield, MO 65804</a>
				</div>

				<!-- Clickable Telephone Number -->
				<div class="my-3">
					<a href="tel:417-890-7787"><i class="fa fa-mobile mr-2" aria-hidden="true"></i>(417) 890-7787</a>
				</div>

				<!-- Clickable Email Address-->
				<div class="my-3">
					<a href="mailto:%20info@aptitudept.com"><i class="fa fa-envelope fa-lg mr-2" aria-hidden="true"></i>info@aptitudept.com</a>
				</div>

				<!-- Fax Number-->
				<div class="my-3">
					<a href="fax:417-890-9397"><i class="fa fa-fax mr-2" aria-hidden="true"></i>(417) 890-9397</a>
				</div>
			</div>

			<div class="col-sm-2 text-center">
				<h4>Connect</h4>
				<!-- Facebook -->
				<div class="my-3">
					<a target="_blank" href="https://www.facebook.com/AptitudePhysicalTherapy/"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
				</div>

				<!-- Google Plus-->
				<div class="my-3">
					<a target="_blank" href="https://plus.google.com/104416384958905808932"><i class="fa fa-google-plus-official fa-2x" aria-hidden="true"></i></a>
				</div>

				<!-- LinkedIn-->
				<div class="my-3"><a target="_blank" href="https://www.linkedin.com/company/aptitude-physical-therapy/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
				</div>

				<!-- YouTube Channel-->
				<div class="my-3">
					<a target="-blank" href="https://www.youtube.com/channel/UC6IJglZXXtqzl1r9IkBtrGQ"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
				</div>

				<!-- Blog -->
				<div class="my-3">
					<a target="_blank" href="http://aptitudephysicaltherapy.blogspot.com/"><i class="fa fa-rss-square fa-2x" aria-hidden="true"></i></a>
				</div>
			</div><!--End Social Media Section-->
			<div class="col-sm-3"></div>
		</div>
		<div class="row copyright">
			<p class="col-12 mx-auto">Copyright &copy; Aptitude Physical Therapy, LLC All Rights Reserved</p>
			<p class="col-12 mx-auto">Developed By: Devan Barger, Renee Barger, Elizabeth Dykes </p>
		</div>
	</div>
</div>