<!-- Patient Page Banner -->
<div class="container-fluid">
  <div class="row patient-banner text-center">
    <div class="col-sm-12">
      <h1>Patient Info</h1>
      <p>For any question or concern about your appointment, insurance coverage, or treatment; please call our office at (417) 890 - 7787 or email us at info@aptitudept.com</p>
    </div>
  </div>
</div>


<!-- Main Content-->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4>Choosing Your Physical Therapist</h4>
      <p>Missouri state law requires a doctor's referral for physical therapy. Patients reserve the right to choose a specific physical therapy clinic or physical therapist. Ask us if you need more information about obtaining a referral.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4>When to Arrive for Your First Appointment</h4>
      <p>Please arrive half an hour before your first appointment time at Aptitude Physical Therapy in order to finish the patient registration process. You may print off and fill out the attached documents to bring to your first appointment if you wish.</p><br>
      <a href="">Print Patient Registration Form</a><br>
      <a href="">Print Medical Screening Form</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h4>What to Bring to Your First Appointment</h4>
      <p>At your first appointment at Aptitude Physical Therapy, please bring the following information to help the Aptitude Physical Therapy staff to file your insurance claims.</p>
        <ul>
          <li>Health Insurance Card</li>
          <li>Driver's License or other proof of identity</li>
          <li>Doctor’s referral, if not already sent to our office*</li>
          <li>(Optional) Patient Registration Forms</li>
        </ul>
        <br>
        <p>Please note that while the Aptitude PT staff will help with filing claims, patients are responsible for all charges.</p>
        <br>
        <p><i>*Missouri state law requires a doctor's orders for physical therapy, and many insurance providers require a referral. Ask us if you need more information about obtaining a referral.</i></p>
    </div>
    <div class="col-sm-6">
      <img src="https://picsum.photos/500/400/?random" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <h4>How Much Will It Cost?</h4>
        <p>Costs are different for different patients and different treatments. After your initial evaluation, your physical therapist will be able to estimate the usual charges and average length of treatment for a similar condition. You may ask to see a list of charges and ask for an explanation of how charges are billed. Our office staff is available to discuss charges, payment options, and insurance reimbursements. Please bring a copy of your insurance card, and we will help file your insurance claim.</p><br>
        <p>If you do not have health insurance or if you prefer to pay out of pocket, our self-pay rates are as follows:</p><br>
        <ul>
          <li>$70   -   Initial Evaluation</li>
          <li>$55   -   Per Session (after initial evaluation)</li>
        </ul>
    </div>
  </div>
  <div class="row text-right">
    <div class="col-sm-6">
      <img src="https://picsum.photos/500/400/?random" alt="">
    </div>
    <div class="col-sm-6">
        <h4>What to Wear to Your Appointment...</h4>
        <p>Wear loose, comfortable clothing, especially if you will be in the exercise area. We do have hospital gowns available if you need them for evaluations, such as knee injuries. You can also bring clothes to change into since we have private rooms available.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
        <h4>Where to Find Us</h4>
        <p>Our office is located at 1342 East Primrose Street between National and Fremont in Springfield, Missouri. The easiest way to enter our parking lot is coming from the west to turn right because there is an island on Primrose at our entrance that prevents a left turn coming from the east.</p><br>
        <p>Our office is on the main floor in Suite A.</p>
    </div>
    <div class="col-sm-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3180.206537811611!2d-93.27383171844262!3d37.14778818207819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87cf64bf2aa75381%3A0xb009a3145b678dc2!2sAptitude+Physical+Therapy%2C+LLC!5e0!3m2!1sen!2sus!4v1531681160099" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
        <h4>Scheduling and Canceling Appointments</h4>
        <p>While we will need a referral from your primary doctor, you can call us to start the process. Please call our office at (417) 890-7787. You may also email at info@aptitudept.com.</p><br>
        <p>If you need to cancel or reschedule an appointment, please call our office 24 hours in advance. If you do not call within 24 hours of your appointment, we will still charge you for the appointment, in accordance to our office policy.</p>
        
        <!-- Add two call to action buttons here (Call us & Read Reviews) -->

    </div>
    <div class="col-sm-6 text-center">
      <h4>We are here to help!</h4><br><br>
      <a href="tel:5551234567"><button type="button" class="btn btn-primary">Call Now</button></a>
      <button type="button" class="btn btn-light align-items-end">Read Reviews</button>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-12">
        <h4>Disclaimer</h4>
        <p>This information is provided as a general information resource only. You should never delay seeking medical advice, disregard medical advice, or discontinue medical treatment because of this general information. Please see your doctor or medical advice and treatment. Do not rely on this information for any diagnosis or treatment. If you have any specific questions about any medical matter, you should consult your doctor or other professional healthcare provider. If you think you may be suffering from any medical condition, you should contact your health care provider immediately.</p>
    </div>
  </div>
</div>>
