<!-- Videos Banner-->
<div class="container-fluid">
  <div class="row videos-banner">
      <div class="col-sm-12 text-center">
          <h1>Youtube Playlists</h1>
      </div>
  </div>
</div>

<!-- Main Content (Playlist Links) -->
<div class="container">
  <div class="row">
    <div class="col-sm-4 text-center">
      <a href="https://www.youtube.com/watch?v=4ZDrplL2Y3I&list=PLb85zzi3Z0ZL6l9vMIGzDonctoaOCfuel" target="_blank">
          <img src="../../../assets/img/KellyExercising2.jpg" alt="">
        <h5>Workout Tips</h5>
      </a>
    </div>
    <div class="col-sm-4 text-center">
        <a href="https://www.youtube.com/watch?v=YCPUpqADYE8&list=PLb85zzi3Z0ZLu31-rWXd6-5_FacpzM-br" target="_blank">
          <img src="../../../assets/img/KellyExercising2.jpg" alt="">
        <h5>Laughter Is The Best Medicine</h5>
      </a>
    </div>
    <div class="col-sm-4 text-center">
        <a href="https://www.youtube.com/watch?v=_o6dkv9lrEY&list=PLb85zzi3Z0ZL8kwPvhUHacDUsIRduHdNW" target="_blank">
          <img src="../../../assets/img/KellyExercising2.jpg" alt="">
        <h5>Balance</h5>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-center">
        <a href="https://www.youtube.com/watch?v=dBuVmM3Xg_I&list=PLb85zzi3Z0ZJKxcn5_OnjuCLpckWdeSsS" target="_blank">
          <img src="../../../assets/img/KellyExercising2.jpg" alt="">
        <h5>Pain Prevention</h5>
      </a>
    </div>
    <div class="col-sm-4 text-center">
        <a href="https://www.youtube.com/watch?v=J-zyy1oiyyA&list=PLb85zzi3Z0ZIJylbi8v4L7GVC3LAxgVYT" target="_blank">
          <img src="../../../assets/img/KellyExercising2.jpg" alt="">
        <h5>Self Massage</h5>
      </a>
    </div>
    <div class="col-sm-4 text-center">
      <a href="https://www.youtube.com/watch?v=B3-81IdEeiQ&list=PLb85zzi3Z0ZKEd3kQ-nf3yj4G7YFxaog0" target="_blank">
          <img src="../../../assets/img/KellyExercising2.jpg" alt="">
        <h5>Ask Dr. Coleman</h5>
      </a>
    </div>
  </div>
</div>

