<div class="container blog-content">
	<ng-container *ngFor="let blog of items">
		<div class="container card-2">
			<div class="row">
				<div class="col-sm-4">
					<div><h4>{{blog.title}}</h4></div>
					<br>
					<div><h6><i class="fa fa-calendar" aria-hidden="true"></i> {{blog.published | date}}</h6></div>
					<div><h6><i class="fa fa-user" aria-hidden="true"></i> {{blog.author.displayName}}</h6></div>
					<div class="summary" [innerHTML]="blog.summary"></div>
				</div>
				<div class="col-sm-8">
					<div>
						<img class="thumbnail" src="{{blog.thumbnail}}" />
					</div>
				</div>		
			</div>
			<div class="row">
				<div class="col-md-12 blog-card-footer">
					<a href="{{blog.url}}" target="_blank"><button type="button" class="btn btn-primary pull-right">Read More</button></a>
				</div>
			</div>
		</div>
	</ng-container>
</div>