<div class="container-fluid">
  <div class="row text-center about-banner">
    <div class="col-sm-12 text-center">
      <h1>Aptitude Physical Therapy</h1>
      <h6>We Listen. We Solve. We Teach.</h6>
    </div>    
  </div>
</div>

<div class="container"> 
	<div class="row">
    <div class="col-sm-6 text-center">
      <h2>Our Story</h2>
      <p>Aptitude Physical Therapy first opened in 2009. Dr. Kelly Coleman has over 30 years of experience listening to patients and helping them achieve successful outcomes. Our team keeps up to date on current research to provide the best treatment to our patients. Our team works as problem solvers to diagnose and treat each patient individually.</p>
    </div>		
    <div class="col-sm-6">
      <img src="https://picsum.photos/500/300/?random" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
        <img src="https://picsum.photos/500/300/?random" alt="">
    </div>
    <div class="col-sm-6 text-center">
      <h2>Our Mission</h2>
      <p>At Aptitude Physical Therapy, LLC, we communicate thoroughly with our patients, their caretakers, and their providers. We assist our patients in solving their movement-related issues by developing customized treatment plans. We teach patients what their responsibilities are to improve their quality of life. We strive for successful outcomes and satisfied patients.</p>
    </div>		
  </div>
  <hr>
  <!-- What we do section-->
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 text-center">
      <h2>What we do</h2>
      <p>At Aptitude Physical Therapy, we take time to teach our patients and answer questions about each patient's personal diagnosis and customized treatment plan. We keep current on relevant research and are committed to solving our patients' pain problems.</p>
    </div>	
    <div class="col-sm-2"></div>	
  </div>
  <div class="row">
    <div class="col-sm-4 text-center">
      <img src="https://picsum.photos/300/300/?random" alt="">
      <h3>We Listen</h3>
      <p>Aptitude Physical Therapy in Springfield, Missouri, provides patient-centered treatment that begins with listening to what the patient has to say. After listening, we take the time to ask and answer questions to fully understand the patient's needs.</p>
    </div>
    <div class="col-sm-4 text-center">
      <img src="https://picsum.photos/300/300/?random" alt="">
      <h3>We Solve</h3>
      <p>At Aptitude Physical Therapy, physical therapists work as problem solvers for their patients. Since every patient and injury is unique, our physical therapists will take the time to analyze the patient's symptoms and customize a treatment plan.</p>
    </div>	
    <div class="col-sm-4 text-center">
      <img src="https://picsum.photos/300/300/?random" alt="">
      <h3>We Teach</h3>
      <p>Our physical therapists share a commitment to continuing education and supporting research. Learning and then teaching is a lifestyle. They take time to teach patients about their personal diagnosis and customized treatment plans.</p>
    </div>
  </div>
  <hr>

  <!-- Staff Information-->
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Aptitudes Staff</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 text-center">
      <!-- Insert staff member photo here -->
      <img src="https://picsum.photos/200/300" alt="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora consectetur reiciendis dignissimos nobis nulla fugit similique obcaecati, tempore error nihil dolor rem laborum. Eaque nam facere aperiam voluptatem eveniet expedita.</p>
    </div>
    <div class="col-sm-4 text-center">
      <!-- Insert staff member photo here -->
      <img src="https://picsum.photos/200/300" alt="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora consectetur reiciendis dignissimos nobis nulla fugit similique obcaecati, tempore error nihil dolor rem laborum. Eaque nam facere aperiam voluptatem eveniet expedita.</p>
    </div>
    <div class="col-sm-4 text-center">
      <!-- Insert staff member photo here -->
      <img src="https://picsum.photos/200/300" alt="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora consectetur reiciendis dignissimos nobis nulla fugit similique obcaecati, tempore error nihil dolor rem laborum. Eaque nam facere aperiam voluptatem eveniet expedita.</p>
    </div>
  </div>
</div>